body,
html {
    width: 100%;
    height: 100%;
}
.banner_img{
   padding-top: 75px;
   padding-bottom: 110px;
   color: #f8f8f8;
   background-image: url('img/background.jpg');
   background-repeat:no-repeat;
   background-size: cover;
}
body{
    width: 100%;
    height:100%;
    
}
.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    font-family: 'Sofia';
}
.flogotxt{
color: #3379FF;
font-family: 'Poppins';
}
.slogotxt{
color: #33FF3E;
font-family: 'Poppins';
}
a{
    font-family: 'Play';
}
.bac{
    background-color: #2c6ed5;
}
.ban{
    background-color: #fa4251;
}
#login-panel .panel-footer{
    font-weight:normal;
}
.red{
    color:red;
}
.panel-footer{
     color:5633FF;
 }
 .success_style{
font-family: 'Sofia';
 }
table {
    border-collapse: separate;
    border-spacing: 1em;
}
.red{
    color:red;
}
